@model shifts.Models.MedicalSpeciality

@{
  ViewBag.Title = $"Editar {Model.Description}";
}

<h4>Editar Especialidad: <b>@Model.Description</b></h4>

<div class="row">
  <form class="col s12" asp-action="Create">
    <div asp-validation-summary="ModelOnly"></div>
    <input type="hidden" asp-for="Id">

    <div class="row">
      <div class="input-field col s12 m6">
        <label asp-for="Description">Descripción</label>
        <input type="text" asp-for="Description"/>
        <span asp-validation-for="Description"></span>
      </div>
    </div>

    <div class="page-navigation-links">
      <div>
        <button type="submit" class="waves-effect waves-light btn">
          Guardar Cambios
          <i class="material-icons right">save</i>
        </button>
      </div>

      <div class="change-order">
        <a asp-action="Index" class="waves-effect waves-light btn">
          Volver
          <i class="material-icons left">arrow_back</i>
        </a>
      </div>
    </div>
  </form>
</div>