@model dynamic

@{
  ViewBag.Title = "title";
  Layout = "_Layout";
}

<div class="text-center">
  <table>
    <thead>
    <tr>
      <th>Descripción</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td>Traumatologo</td>
    </tr>
    <tr>
      <td>Cardiologo</td>
    </tr>
    </tbody>
  </table>
</div>