@model IEnumerable<MedicalSpeciality>

@{
  ViewBag.Title = "Especialidades Medicas";
}

<p class="u-mt-3">
  <a asp-action="Create">Crear especialidad</a>
</p>

<table class="u-mt-2 responsive-table highlight z-depth-1-half orange lighten-4 u-mb-3">
  <thead>
  <tr class="orange white-text">
    <th>
      @Html.DisplayNameFor(model => model.Description)
    </th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  @foreach (var item in Model)
  {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.Description)
      </td>
      <td>
        <a asp-action="Edit" asp-route-id="@item.Id" aria-label="Editar">
          <i class="material-icons">edit</i>
        </a>
        <a asp-action="Delete" asp-route-id="@item.Id" aria-label="Eliminar">
          <i class="material-icons red-text">delete</i>
        </a>
      </td>
    </tr>
  }
  </tbody>
</table>