@model Patient

@{
  ViewBag.Title = $"Editar paciente: {Model.Name} {Model.LastName}";
}

<h4>Editar Paciente: <b>@Model.Name @Model.LastName</b></h4>

<div>
  <form asp-action="Edit">
    <div asp-validation-summary="ModelOnly"></div>
    <input type="hidden" asp-for="Id">

    <div>
      <label asp-for="Name">Nombre(s)</label>
      <input type="text" asp-for="Name"/>
      <span asp-validation-for="Name"></span>
    </div>

    <div>
      <label asp-for="LastName">Apellidos</label>
      <input type="text" asp-for="LastName"/>
      <span asp-validation-for="LastName"></span>
    </div>

    <div>
      <label asp-for="Address">Dirección</label>
      <input type="text" asp-for="Address"/>
      <span asp-validation-for="Address"></span>
    </div>

    <div>
      <label asp-for="PhoneNumber">Número Teléfonico</label>
      <input type="text" asp-for="PhoneNumber"/>
      <span asp-validation-for="PhoneNumber"></span>
    </div>

    <div>
      <label asp-for="Email">Correo Electrónico</label>
      <input type="email" asp-for="Email"/>
      <span asp-validation-for="Email"></span>
    </div>

    <div>
      <input type="submit" value="Guardar Cambios"/>
    </div>
  </form>
</div>

<div>
  <a asp-action="Index">Volver</a>
</div>